body::before {
content: "";
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url(another.webp);
background-size: cover;
filter: blur(3px); 
z-index: -1; 
opacity: 0.9;
}

.navbar {
    background-color:rgba(83, 79, 39, 1);
overflow: hidden;
position: fixed; 
top: 0; 
width: 100%; 
}

.navbar a {
float: right;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.navbar a:hover {
background-color: #ddd;
color: black;
}

.pen-container {
display: flex;
justify-content: space-between;
}

.left-pens, .right-pens {
display: flex;
flex-direction: column;
align-items: center; 
margin-top: 30px;
margin-left: 30px;
margin-right: 30px;
}

.left-pens {
margin-right: 20px; 
}

.right-pens {
margin-left: 20px; 
}

.pen1, .pen2, .pen3, .pen4 {
background-image: url(lion.jpg) ;
border-radius: 10px;
background-color: #f0f0f0; 
width: 200px;
height: 70px;
padding: 30px;
text-align: center;
margin: 20px;
background-size: cover;
border: 3px solid #0e0e0e;
}
.pen1, .pen2 {
margin-bottom: 50px; 
}

.pen3, .pen4 {
margin-bottom: 50px; 
}
.pen2{
background-image: url(giraffes.jpg); 
background-size: cover;
}
.pen3{
background-image: url(tiger.jpg); 
background-size: cover;
}
.pen4{
background-image: url(mokey.jpeg); 
background-size: cover;
}
.big-container {
background-color: rgba(14, 28, 19, 0.8);
padding: 10px;
border: 7px solid #0e0e0e;
width: 700px;
height: 520px; 
display: flex;
flex-direction: column;
margin-left: 20%;
margin-top: 3%;
}
p {
margin-top: -5px;
color: white;
text-align: center;
font-size: 25px;
border: 4px solid rgba(20, 20, 20, 0.9);
background-color:rgba(70, 67, 33, 0.9);
padding: 5px;
box-shadow: 5px 5px 10px rgba(0, 0, 0,);
}
.gate-lock-button {
background-color: #a2c4e7;
color: rgb(0, 0, 0);
border: 20%;
cursor: pointer;
border-radius: 10px;
width: 80px;
height: 40px;
margin-left: 280px;
position: relative;
overflow: hidden;
}
.gate-lock-button:before {
content: "";
position: absolute;
top: -50%;
left: -50%;
width: 200%;
height: 200%;
background: rgba(255, 255, 255, 0.2);
transform: rotate(45deg);
animation: shine 1s infinite;
}

/* For the other toggle witches */
.switch {
position: relative;
display: flex;
width: 85px;
height: 15px;
margin-left: -120px;
margin-top: -40px;
cursor: pointer;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);


}
.slider.round {
border-radius: 34px;
}
.slider.round:before {
border-radius: 50%;
}

.switch input {
display: none;
}

.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #999e7fb0;
-webkit-transition: .4s;
transition: .4s;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.slider:before {
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 4px;
bottom: 1px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
input:checked + .slider {
background-color: #a3a5a6;
}
input:focus + .slider {
box-shadow: 0 0 1px #b2b2b2;
}
input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(63px);
}

/* Below for the Master  */
.master-toggle-label-inner {
position: absolute;
top: 50%;
left: 20px; 
transform: translateY(-50%);
z-index: 1;
color: rgb(255, 255, 255);
pointer-events: none;
opacity: 0.7; 
}
.master-toggle-label-inner::before {
content: ""; 
font-family: "Font Awesome 5 Free";
font-weight: 900;
margin-right: 20px;

}

.master-toggle-label-inner1 {
position: absolute;
top: 22%;
left: 35%; 
transform: translateY(-50%);
z-index: 1;
color: white;
pointer-events: none; 
/* opacity: 0.7; */
}

.master-toggle-label-inner1::before {
content: "";
font-family: "Font Awesome 5 Free";
font-weight: 60;
margin-right: 25px;
}
.master-toggle-button {
display: flex;
align-items: center;
margin-top: -60%;
margin-left: -200px;

}

.master-toggle-label {
font-weight: bold;
margin-right: 12px;
font-size: 14px;

}

.master-toggle {
position: relative;
display: inline-block;
width: 145px; 
height: 31px;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.master-slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #a3a587;
-webkit-transition: .4s;
transition: .4s;
}

.master-slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 10px;
bottom: 3px;
background-color: rgb(234, 226, 226);
-webkit-transition: .9s;
transition: .4s;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

input:checked + .master-slider {
background-color: #636363;
}
input:checked + .master-slider:before {
-webkit-transform: translateX(80px);
-ms-transform: translateX(80px);
transform: translateX(100px);
}
/* This is for the container */
.master-slider.round {
border-radius: 34px;
}
/* This is for the ball */
.master-slider.round:before {
border-radius: 50%;
}
.unlock-icon {
position: absolute;
top: 50%;
left: -15px;
transform: translate(-50%, -50%);
font-size: 13px;
color: #f9f9f9;
}
.lock-icon{
position: absolute;
top: 50%;
left: 100px;
transform: translate(-50%, -50%);
font-size: 14px;
color: #f9f9f9;
}